
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */

/* <i id="ham" class="fa-solid fa-bars"></i>
<i id="xmark" class="fa-solid fa-xmark"></i> */

*{
    margin:0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.icons{
    margin-right: 15px;
    color:black;
}
body{
    margin: auto;
    background-color: rgba(218, 224, 229, 0.729);
}
body>div>h1{
    padding: 120px 0 50px 0;
}

#header{
    height: 100%;
    width: 100%;
}
.container{
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    /* moving part  */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.816);
    border-radius: 10px;
    z-index: 1;
}
nav>h2:first-child>i>span{
    color: orangered;
    font-size: 160%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
    position: relative;
}
nav a::after{
    content: "";
    background-color: rgb(241, 23, 3);
    width: 0px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -5px;
}
nav a:hover::after{
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

  /* Welcome  */

  #welcome{
      color: black;
      margin-top: 120px;
  }

/*   Header  */

.headerText{
    display: flex;
    /* border: 2px solid red; */
    margin: auto;
    width: 80%;
    margin-top: 6em;
    justify-content: space-around;
}
#ht>p{
    font-size: 40px;
    font-weight: 700;
    color: black;
}
#ht h1{
    font-size: 50px;
    color: orangered;
    margin: 20px 0;
}
#ht>h2{
    font-size: 26px;
    color: black;
}
#ht>h3{
    font-size: 22px;
}
#ht>h3>span{
    color: blue;
}
#resumeblock{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* border: 1px solid black; */
}
#resumeblock button{
    padding:5px 25px;
    border-radius: 20px;
}
#resumeblock>a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
#resumeblock>a>button:hover{
    background-color: blue;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:7px 27px;
    cursor: pointer;
}

#resumeblock div img{
    height:30px;
    margin: 20px;
}

.headerText>img{
    height: 20rem;
    margin-top: 5rem;
    border-radius: 5%;
    /* border: 5px solid rgba(250, 235, 215, 0.816); */
}

/* About  Section  */

#about{
    text-align: center;
    width:60%;
    margin:auto;
}
#about>p{
    text-align: justify;
    margin: 40px;
}

#training{
    margin: 50px;
}
#training>h2{
    margin:25px;
}
#training>h3{
    text-align: left;
    font-style: italic;
    color: orangered;
}
#training>h4{
    text-align: left;
    /* color: blue; */
}
#training>p{
    text-align: left;
    font-size: 18px;
    margin-top: 10px;
}
#training>ul{
    list-style: none;
    text-align: left;
    font-size: 16px;
    margin: 5px 10px;
}


/* Skills and  Tools  */

#skills{
    text-align: center;
    margin: 140px 120px;
    /* background-color: blue; */
}
#skills>h1{
    margin-bottom: 60px;
}
#frontend,#tools{
    margin: 0px 80px -20px;
}
#backend{
    margin: 0px 80px -130px;
}
#frontend>div,#backend>div,#tools>div{
    display: grid;
    /* width:90%; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,100px);
    row-gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}
#frontend img,#backend img,#tools img{
    height:60px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 10px;
}
#frontend img:hover,#backend img:hover,#tools img:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 65px;
}

#backend>div{
    grid-template-rows: repeat(3,100px);
}


  /* Projects  */

  #projects{
      text-align: center;
      margin: 0 100px;
      /* border: 2px solid blue; */
  }
  #boxes{
    display: flex;
    width:100%;
    height: 100%;
    gap:45px;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin:50px 0; */
  }
  .cards{
      width: 380px;
      border: 2px dashed rgb(101, 209, 155);
      position: relative;
      top:0;
      transition: top 0.3s ease;
      text-align: center;
      margin: 5% 0;
  }
  .cards:hover{
      top: -10px;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      background-color: rgba(0, 0, 0, 0.138);
      cursor:pointer;
  }
.projectImages>img{
    width:100%;
    height:50%;
    margin: 10% 0;
}
.cards h5{
    margin: 20px 0;
}
/* .cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.cards>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cards>p{
    text-align: justify;
    padding:0 2%;
    font-size: 15px;
}
.cards a{
    text-decoration: none;
}

.cards div:last-child button{
    color: white;
    background-color: black;
    width:150%;
    padding:10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    border: transparent;
    margin-bottom: 20px;
}
.cards i{
    font-size: 18px;
}
.cards>div:last-child a+a>button{
    background-color: teal;
    padding: 15% 3px;
}
.cards button:hover{
    margin-top: -10px;
    cursor: pointer; 
}

   /* Statistics  */

#stats{
    text-align: center;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 100px;
}
#stats>h1{
    margin: 20px 0 30px 0;
}
#stats>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    flex-wrap: wrap;
    /* background-color: plum; */
}
#stats>div>div{
    width:100px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: paleturquoise; */
    margin-top: 30px;
}
#stats>div>div>div{
    border: 6px solid coral;
    background-color: bisque;
    font-weight: 700;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;;
    border-radius: 80%;
    padding: 10%;
    margin: 20px;
}
#stats p{
    width:100px;
    font-weight: 700;
    color: darkred;
}

/* -------------------------------github stats----------------------------- */

#github{
    padding: 0 auto;
    margin: auto;
    /* background-color: blue; */
}

#github_stats>div{
    text-align: center;
    /* background-color: palegreen; */
    /* margin: 3rem 20%; */
}

#github_stats+div{
    border: 1px solid black;
    margin: 5% 10%;
}

/* Contact Details  */

#contact{
    /* background-color: pink; */
    width:90%;
    margin: auto;
    text-align: center;
}
#contact p{
    font-size: 18px;
    color: black;
}
#contact>div{
    /* background-color: skyblue; */
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 3em;
    width: 50%;
    margin: 70px auto;

}
#contact>div>a:nth-child(1) i{
    font-size: 30px;
    color: red;
    margin-right:40px;
    /* background-color: pink; */
}
#contact>div>a:nth-child(2) i{
    font-size: 30px;
    color: green;
    margin-right:40px;
    /* background-color: pink; */
}
#contact>div a{
    display: flex ;
    align-items: center;
    /* border: 1px solid black; */
    text-decoration: none;
}
#contact>div>a:nth-child(3) i{
    font-size: 30px;
    color: black;
    margin-right:40px;
    width: 35px;
    /* background-color: pink; */
}
#contact>div>a:nth-child(4) i{
    font-size: 30px;
    color: blue;
    width: 35px;
    margin-right:40px;
}
#contact>div>a{
    text-decoration: none;
    display:inline-flex;
}


/* ------------------------- tablet screen--------------------------------------- */

nav .fa-regular, nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 910px){
    nav .fa-regular, nav .fa-solid{
        display: block;
        font-size: 40px;
    }
    nav a{
        color:white;
        font-weight: 900;
        font-size: 25px;
        line-height: 250%;
        margin: 0 auto;
    }
    nav a::after{
        background-color: red;
    }
    nav ul{
        background: rgba(0, 0, 139, 0.814);
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height:100%;
        padding-top: 80px;
        padding-left: 40px;
        z-index: 2;
    }
    nav .fa-regular{
        color: rgb(165, 154, 154);
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }


    /* header text */

    
    .headerText{
        display: block;
        /* background-color: blue; */
        text-align: center;
    }



    /* -------github calender--------- */

    #github_stats{
        margin: auto;
    }

    #github_stats>div{
        text-align: center;
    }

}



/* ------------------------- mobile screen--------------------------------------- */

@media only screen and (max-width: 480px){
    body{
        margin-right:-100%;
    }


    /* -----------------header text---------------- */

    .headerText{
        display: block;
        /* background-color: blue; */
        text-align: center;
    }

    #resumeblock{
        /* background-color: red; */
        padding-top: 10px;
    }

        /*------------------ git calender ----------------*/

    #github{
        padding-right: 8%;
        margin: auto;
        /* background-color: red; */
    }


    #github{
        padding-right: 8%;
        /* margin-right: -2%; */
        /* background-color: red; */
    }

}