
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */

/* <i id="ham" class="fa-solid fa-bars"></i>
<i id="xmark" class="fa-solid fa-xmark"></i> */

*{
    margin:0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.icons{
    margin-right: 15px;
    color:black;
}
body{
    background-color: aliceblue;
}
body>div>h1{
    padding: 120px 0 50px 0;
}

#header{
    height: 100%;
    width: 100%;
}
.container{
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 20px;
    /* moving part  */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.816);
    border-radius: 10px;
    z-index: 1;
}
nav>h2:first-child>i>span{
    color: orangered;
    font-size: 160%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
    position: relative;
}
nav a::after{
    content: "";
    background-color: rgb(241, 23, 3);
    width: 0px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -5px;
}
nav a:hover::after{
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

  /* Welcome  */

  #welcome{
      color: rgba(151, 6, 6, 0.701);
      margin-top: 120px;
  }

/*   Header  */

.headerText{
    display: flex;
    /* border: 2px solid red; */
    margin: auto;
    width: 80%;
    margin-top: 6em;
    justify-content: space-around;
}
#ht>p{
    font-size: 40px;
    font-weight: 700;
    color:rgb(139, 6, 90);
}
#ht h1{
    font-size: 50px;
    color: orangered;
    margin: 20px 0;
}
#ht>h2{
    font-size: 26px;
    color:green;
}
#ht>h3{
    font-size: 22px;
}
#ht>h3>span{
    color: blue;
}
#resumeblock{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* border: 1px solid black; */
}
#resumeblock button{
    padding:5px 25px;
    border-radius: 20px;
}
#resumeblock>a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
#resumeblock>a>button:hover{
    background-color: blue;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:7px 27px;
    cursor: pointer;
}

#resumeblock div img{
    height:30px;
    margin: 20px;
}

.headerText>img{
    height: 15rem;
    margin-top: 5rem;
    border-radius: 50%;
}

/* About  Section  */

#about{
    text-align: center;
    width:60%;
    margin:auto;
}
#about>p{
    text-align: justify;
    margin: 40px;
}

#training{
    margin: 50px;
}
#training>h2{
    margin:25px;
}
#training>h3{
    text-align: left;
    font-style: italic;
    color: orangered;
}
#training>h4{
    text-align: left;
    color:green;
}
#training>p{
    text-align: left;
    font-size: 18px;
    margin-top: 10px;
}
#training>ul{
    list-style: none;
    text-align: left;
    font-size: 16px;
    margin: 5px 10px;
}


/* Skills and  Tools  */

#skills{
    text-align: center;
    margin: 120px;
    margin-top: 0px;
}
#frontend,#backend{
    margin: 80px;
}
#frontend>div,#backend>div{
    display: grid;
    /* width:90%; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,100px);
    row-gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}
#frontend img,#backend img{
    height:60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
#frontend img:hover,#backend img:hover{
    cursor: pointer;
    height: 65px;
}

#backend>div{
    grid-template-rows: repeat(3,100px);
}


  /* Projects  */

  #projects{
      text-align: center;
      margin: 0 100px;
      /* border: 2px solid blue; */
  }
  #boxes{
    display: flex;
    width:100%;
    height: 100%;
    gap:45px;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin:50px 0; */
  }
  .cards{
      width: 380px;
      border: 2px dashed rgb(101, 209, 155);
      position: relative;
      top:0;
      transition: top 0.3s ease;
      text-align: center;
      margin: 5% 0;
  }
  .cards:hover{
      top: -10px;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      background-color: rgba(0, 0, 0, 0.138);
      cursor:pointer;
  }
.projectImages>img{
    width:100%;
    height:50%;
    margin: 10% 0;
}
.cards h5{
    margin: 20px 0;
}
/* .cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.cards>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cards>p{
    text-align: justify;
    padding:0 2%;
    font-size: 15px;
}
.cards a{
    text-decoration: none;
}

.cards div:last-child button{
    color: white;
    background-color: black;
    width:150%;
    padding:10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    border: transparent;
    margin-bottom: 20px;
}
.cards i{
    font-size: 18px;
}
.cards>div:last-child a+a>button{
    background-color: teal;
    padding: 15% 3px;
}
.cards button:hover{
    margin-top: -10px;
    cursor: pointer; 
}

   /* Statistics  */

#stats{
    text-align: center;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 100px;
}
#stats>h1{
    margin: 20px 0 30px 0;
}
#stats>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    flex-wrap: wrap;
    /* background-color: plum; */
}
#stats>div>div{
    width:100px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: paleturquoise; */
    margin-top: 30px;
}
#stats>div>div>div{
    border: 6px solid coral;
    background-color: bisque;
    font-weight: 700;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;;
    border-radius: 80%;
    padding: 10%;
    margin: 20px;
}
#stats p{
    width:100px;
    font-weight: 700;
    color: darkred;
}
#gitCommit>img{
    width:100%;
    margin:auto;
}

/* Contact Details  */

#contact{
    /* background-color: pink; */
    width:90%;
    margin: auto;
    text-align: center;
}
#contact p{
    font-size: 18px;
    color: black;
}
#contact>div{
    /* background-color: skyblue; */
    text-align: left;
    display: flex;
    flex-direction: column;
    line-height: 3em;
    width: 50%;
    margin: 70px auto;

}
#contact>div>p:nth-child(1) i{
    font-size: 30px;
    color: red;
    margin-right:40px;
    /* background-color: pink; */
}
#contact>div>p:nth-child(2) i{
    font-size: 30px;
    color: green;
    margin-right:40px;
    /* background-color: pink; */
}
#contact>div a{
    display: flex ;
    align-items: center;
    /* border: 1px solid black; */
    text-decoration: none;
}
#contact>div>a:nth-child(3) i{
    font-size: 30px;
    color: black;
    margin-right:40px;
    width: 35px;
    /* background-color: pink; */
}
#contact>div>a:nth-child(4) i{
    font-size: 30px;
    color: blue;
    width: 35px;
    margin-right:40px;
}
#contact>div>a{
    text-decoration: none;
    display:inline-flex;
}
/* #contact>div:nth-child(3) i{
    font-size: 30px;
    color: black;
    width:100px;
    background-color: pink;
} */

/* #contact{
    background-color: pink;
    margin: 0 3em;
    text-align: center;
}
#contact>h2{
    width: 90%;
}
#contact>div{
    background-color: saddlebrown;
    width: 40%;
    font-weight: 900;
    text-align: start;
    line-height: 4em;
    margin:6em auto;
}
#contact>div>h3:nth-child(1) img{
    width:2em; 
    margin-right: 2em;

}
#contact>div>h3:nth-child(2) i{
    color: blue;
    font-size: 1.5em;
    margin-right: 1.5em;
}
#contact>div>div{
    border:1px solid black;
    width: 20%;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
#contact a{
    text-decoration: none;
    margin-right: 2.8em;
}
#contact>div>a:nth-child(3) i{
    font-size: 2em;
    color: black;
    /* display: block; */
    /* margin-top: 0.5em;
}

#contact>div>a:nth-child(5) i{
    font-size: 2em;
    color: blue;
    background-color: white;
    width:1.1em;
    border-radius: 5px;
    margin-top: 1em;
} */ 
